@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #000;
  color: #fff;
}

button {
  cursor: pointer;
}

.scaling {
  animation: scale 0.7s ease-in-out forwards;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
