@import "tailwindcss";
@config "../tailwind.config.ts";

@layer {
  .btn-sign {
    @apply text-black-900 rounded-xs bg-gray-400 px-4 py-2 text-xs duration-300 hover:bg-gray-500;
  }
  .btn-settings {
    @apply bg-black-900 px-4 py-2 text-xs duration-300 hover:bg-gray-700;
  }
  .btn-bonus {
    @apply bg-black-900 px-4 py-2 text-left text-[0.55rem] text-balance duration-300 hover:bg-gray-700 sm:text-xs;
  }
}

body {
  background-color: #222;
  color: #fff;
}

input, textarea, option, select {
  outline: none;
  min-width: 0;
}

button {
  cursor: pointer;
}

.scaling {
  animation: scale 0.7s ease-in-out forwards;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
